<div class="container">
    <div class="dashboard"></div>
    <div class="between">
        <div class="AccountDetail">
            <h1>Login</h1>
            <div class="text">UserName(required)</div>
            <input type="text" class="textinput" (keyup)="getValueUserName($event)">
            <div class="alert" [hidden]="usernamehidden">User name not empty</div>
            <div class="text">Password(required)</div>
            <input type="password" class="textinput" (keyup)="getValuePassWord($event)">
            <div class="alert" [hidden]="passwordhidden">User name not empty</div>
            <button (click)="login()">Login</button>     
        </div>
        <div class="ProfileDetail"></div>
    </div>
    <div class="dashboard"></div>
</div>